<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitantes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_habitantes.css')}}">
    <script defer src="{{url_for('static', filename='js/habitantes.js')}}"></script>
</head>
<body>
    <div class="div-volver">
        <div class="div-message">
            <p id="message" class="message">
                
            </p>
        </div>
        <a class="a-volver" href="{{url_for('index')}}">Volver</a>
    </div>
    <!-- "{{url_for('municipios')}}" -->
    <div class="tabs">
        <div class="tab-container"> 
            <div id="tab2" class="tab">
                <a href="#tab2">Registrar nueva persona</a>
                <div class="tab-content">
                    <h2>Registro de persona</h2>
                    <div class="div-form">
                        <form action="{{url_for('habitantes')}}" method="post" class="form">
                            <div id="div-nom1">
                                <label for="nombre1" id="label-nom1" class="label">Primer nombre</label>
                                <input class="input" required type="text" name="nombre1" id="nombre1">
                            </div>

                            <div id="div-nom2">
                                <label for="nombre2" id="label-nom2" class="label">Segundo nombre</label>
                                <input type="text" class="input" name="nombre2" id="nombre2">
                            </div>

                            <div id="div-ape1">
                                <label for="apellido1" required class="label" id="label-ape1">Primer apellido</label>
                                <input type="text" class="input" name="apellido1" id="apellido1">
                            </div>

                            <div id="div-ape2">
                                <label for="apellido2" class="label" id="label-ape2">Segundo apellido</label>
                                <input type="text" class="input" required name="apellido2" id="apellido2">
                            </div>

                            <div id="div-tipo-doc">
                                <label for="tipo-doc" class="label" id="label-tipo-doc">Tipo de documento</label>
                                <select name="tipo-doc" class="input" required id="tipo-doc">
                                    <option value="null">-- Seleccionar --</option>
                                    <option value=1>Cedula de ciudadania</option>
                                    <option value=2>Tarjeta de identidad</option>
                                    <option value=3>Cedula de extranjería</option>
                                    <option value=4>Pasaporte</option>
                                </select>
                            </div>

                            <div id="div-num-doc">
                                <label for="num-doc" required class="label" id="label-num-doc">Número de documento</label>
                                <input type="text" name="num-doc" class="input" id="num-doc">
                            </div>

                            <div id="div-fecha-nac">
                                <label for="fecha-nac" required class="label" id="label-fecha-nac">Fecha de nacimiento</label>
                                <input type="date" name="fecha-nac" class="input" id="fecha-nac">
                            </div>

                            <div id="div-telefono">
                                <label for="telefono" class="label" id="label-telefono">Telefono</label>
                                <input type="number" name="telefono" class="input" id="telefono">
                            </div>

                            <div id="div-sexo">
                                <label for="sexo" class="label" id="label-sexo">Sexo</label>
                                <select name="sexo" id="sexo" required class="input">
                                    <option value="null">-- Seleccionar --</option>
                                    <option value=0>Femenino</option>
                                    <option value=1>Masculino</option>
                                </select>
                            </div>
                            <div id="div-municipio">
                                <label for="municipio" class="label" id="label-municipio">Municipio en que habita</label>
                                <select name="municipio" id="municipio" required class="input">
                                    <option value="null">-- Seleccionar --</option>
                                    {% for municipio in municipios %}
                                        <option value='{{municipio["id_municipio"]}}'>{{municipio["nombre_municipio"]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="div-cabeza-familia">
                                <label for="cabeza-familia" class="label" id="label-caeza-familia">¿Es cabeza de familia?</label>
                                <select name="cabeza-familia" id="cabeza-familia" required class="input">
                                    <option value="null">-- Seleccionar --</option>
                                    <option value=0>Si</option>
                                    <option value=1>No</option>
                                </select>
                            </div>
                            <div id="div-num-doc-cabeza" class="div-num-doc-cabeza">
                                <label for="num-doc-cabeza" required class="label" id="label-num-doc-cabeza">Número de documento del cabeza de familia</label>
                                <input type="text" name="num-doc-cabeza" class="input num-doc-cabeza" id="num-doc-cabeza">
                            </div>

                            <input id="input-submit" type="submit" value="Enviar">
                        </form>
                    </div>
                </div> 
            </div>
            <div id="tab1" class="tab"> 
                <a href="#tab1">Ver habitantes</a>
                <div class="tab-content">
                    <h2>Habitantes</h2>
                    <div class="search">
                        <label class="label-search">Buscar: </label>
                        <input type="text" id="search" class="input-search" placeholder="Escribir número de documento">
                    </div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre (s)</th>
                                    <th>Apellidos</th>
                                    <th>Tipo de documento</th>
                                    <th>Número de documento</th>
                                    <th>Edad</th>
                                    <th>Sexo</th>
                                    <th>Telefono</th>
                                    <th>Municipio</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="body">
                            {% for res in response %}
                                <tr data-persona="{{res}}">
                                    <td class="td-data">{{res["nombres"]}}</td>
                                    <td class="td-data">{{res["apellidos"]}}</td>
                                    <td class="td-data">{{res["tipo_documento"]}}</td>
                                    <td class="td-data">{{res["num_doc"]}}</td>
                                    <td class="td-data">{{res["edad"]}}</td>
                                    <td class="td-data">{{res["sexo"]}}</td>
                                    <td class="td-data">{{res["telefono"]}}</td>
                                    <td class="td-data">{{res["municipio"]}}</td>
                                    <td class="td-btns">
                                        <button class="btn-edit-habitante">Editar</button>
                                        <button class="btn-delete-habitante">Eliminar</button>
                                    </td>
                                </tr>
                            {%endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
        </div>
    </div> 
    <div class="modal-container" id="modal-container">
        <div class="modal">
            <h2 class="subtitle">Cambiar datos</h2>
            <form action="{{url_for('actualizar_habitante')}}" method="post" class="form-edit">
                <div id="div-nom1-edit">
                    <label for="nombre1-edit" id="label-nom1-edit" class="label-edit">Primer nombre</label>
                    <input class="input-edit" type="text" name="nombre1-edit" id="nombre1-edit">
                </div>

                <div id="div-nom2-edit">
                    <label for="nombre2" id="label-nom2-edit" class="label-edit">Segundo nombre</label>
                    <input type="text" class="input-edit" name="nombre2-edit" id="nombre2-edit">
                </div>

                <div id="div-ape1-edit">
                    <label for="apellido1-edit" class="label-edit" id="label-ape1-edit">Primer apellido</label>
                    <input type="text" class="input-edit" name="apellido1-edit" id="apellido1-edit">
                </div>

                <div id="div-ape2-edit">
                    <label for="apellido2-edit" class="label-edit" id="label-ape2-edit">Segundo apellido</label>
                    <input type="text" class="input-edit" name="apellido2-edit" id="apellido2-edit">
                </div>

                <div id="div-tipo-doc-edit">
                    <label for="tipo-doc-edit" class="label-edit" id="label-tipo-doc-edit">Tipo de documento</label>
                    <select name="tipo-doc-edit" class="input-edit" id="tipo-doc-edit">
                        <option value="null">-- Seleccionar --</option>
                        <option value=1>Cédula de ciudadania</option>
                        <option value=2>Tarjeta de identidad</option>
                        <option value=3>Cédula de extranjería</option>
                        <option value=4>Pasaporte</option>
                    </select>
                </div>

                <div id="div-num-doc-edit">
                    <label for="num-doc-edit" required class="label-edit" id="label-num-doc-edit">Número de documento</label>
                    <input type="text" name="num-doc-edit" class="input-edit" id="num-doc-edit">
                </div>

                <div id="div-fecha-nac-edit">
                    <label for="fecha-nac-edit" class="label-edit" id="label-fecha-nac-edit">Fecha de nacimiento</label>
                    <input type="date" name="fecha-nac-edit" class="input-edit" id="fecha-nac-edit">
                </div>

                <div id="div-telefono-edit">
                    <label for="telefono-edit" class="label-edit" id="label-telefono-edit">Telefono</label>
                    <input type="number" name="telefono-edit" class="input-edit" id="telefono-edit">
                </div>

                <div id="div-sexo-edit">
                    <label for="sexo-edit" class="label-edit" id="label-sexo-edit">Sexo</label>
                    <select name="sexo-edit" id="sexo-edit" class="input-edit">
                        <option value="null">-- Seleccionar --</option>
                        <option value=0>Femenino</option>
                        <option value=1>Masculino</option>
                    </select>
                </div>
                <div id="div-municipio-edit">
                    <label for="municipio-edit" class="label-edit" id="label-municipio-edit">Municipio en que habita</label>
                    <select name="municipio-edit" id="municipio-edit" required class="input-edit">
                        <option value="null">-- Seleccionar --</option>
                        {% for municipio in municipios %}
                            <option value='{{municipio["id_municipio"]}}'>{{municipio["nombre_municipio"]}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <input id="input-submit-edit" type="submit" value="Cambiar">
                <button id="btn-edit-cancel">Cancelar</button>
            </form>
        </div>
    </div>
    
    <div class="modal-container" id="modal-container-eliminar">
        <div class="modal">
            <h2 class="subtitle-delete">Eliminar datos</h2>
            <p class="p-delete">¿Está seguro de que quiere eliminar a esta persona?</p>
            <form action="{{url_for('eliminar_habitante')}}" method="post" class="form-delete">
                <div id="div-nom1-delete">
                    <label for="nombre1-delete" id="label-nom1-delete" class="label-edit">Primer nombre</label>
                    <input class="input-delete" disabled type="text" name="nombre1-delete" id="nombre1-delete">
                </div>

                <div id="div-nom2-delete">
                    <label for="nombre2" id="label-nom2-delete" class="label-edit">Segundo nombre</label>
                    <input type="text" disabled class="input-delete" name="nombre2-delete" id="nombre2-delete">
                </div>

                <div id="div-ape1-delete">
                    <label for="apellido1-delete" class="label-edit" id="label-ape1-delete">Primer apellido</label>
                    <input type="text" class="input-delete" disabled name="apellido1-delete" id="apellido1-delete">
                </div>

                <div id="div-ape2-delete">
                    <label for="apellido2-delete" class="label-edit" id="label-ape2-delete">Segundo apellido</label>
                    <input type="text" class="input-delete" disabled name="apellido2-delete" id="apellido2-delete">
                </div>

                <div id="div-tipo-doc-delete">
                    <label for="tipo-doc-delete" class="label-edit" id="label-tipo-doc-delete">Tipo de documento</label>
                    <select name="tipo-doc-delete" class="input-delete" disabled id="tipo-doc-delete">
                        <option value="null">-- Seleccionar --</option>
                        <option value=1>Cédula de ciudadania</option>
                        <option value=2>Tarjeta de identidad</option>
                        <option value=3>Cédula de extranjería</option>
                        <option value=4>Pasaporte</option>
                    </select>
                </div>

                <div id="div-num-doc-delete">
                    <label for="num-doc-delete" class="label-edit" id="label-num-doc-delete">Número de documento</label>
                    <input type="text" disabled name="num-doc-delete" class="input-delete" id="num-doc-delete">
                </div>

                <div id="div-fecha-nac-delete">
                    <label for="fecha-nac-delete" class="label-edit" id="label-fecha-nac-delete">Fecha de nacimiento</label>
                    <input type="date" name="fecha-nac-delete" class="input-delete" disabled id="fecha-nac-delete">
                </div>

                <div id="div-telefono-delete">
                    <label for="telefono-delete" class="label-edit" id="label-telefono-delete">Telefono</label>
                    <input type="number" name="telefono-delete" class="input-delete" disabled id="telefono-delete">
                </div>

                <div id="div-sexo-delete">
                    <label for="sexo-delete" class="label-edit" id="label-sexo-delete">Sexo</label>
                    <select name="sexo-delete" id="sexo-delete" disabled class="input-delete">
                        <option value="null">-- Seleccionar --</option>
                        <option value=0>Femenino</option>
                        <option value=1>Masculino</option>
                    </select>
                </div>
                <div id="div-municipio-delete">
                    <label for="municipio-delete" class="label-edit" id="label-municipio-delete">Municipio en que habita</label>
                    <select name="municipio-delete" disabled id="municipio-delete" required class="input-delete">
                        <option value="null">-- Seleccionar --</option>
                        {% for municipio in municipios %}
                            <option value='{{municipio["id_municipio"]}}'>{{municipio["nombre_municipio"]}}</option>
                        {% endfor %}
                    </select>
                </div>

                <input id="input-submit-delete" type="submit" value="Eliminar">
                <button id="btn-delete-cancel">Cancelar</button>
            </form>
        </div>
    </div>
</body>
</html>