<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inico</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <h1>Municipios, Viviendas y Habitantes</h1>
    <div class="contenedor">
        <ul>
            <li>
                <a href="{{url_for('municipios')}}">Municipios</a>
            </li>
            <li>
                <a href="{{url_for('viviendas')}}">Viviendas</a>
            </li>
            <li>
                <a href="{{url_for('habitantes')}}">Habitantes</a>
            </li>
        </ul>
    </div>
</body>
</html>