<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viviendas</title>
    <!-- Enlace al archivo CSS styles_viviendas.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_viviendas.css') }}">
    <script defer src="{{url_for('static', filename='js/viviendas.js')}}"></script>
</head>
<body>
    <div class="tabs">
        <div class="tab-container">
            <div id="tab4" class="tab"> 
                <a href="#tab4">Eliminar vivienda</a>
                <div class="tab-content">
                    <h2>Eliminar vivienda</h2>
                    <!-- Formulario o contenido para eliminar vivienda -->
                </div>
            </div>
            <div id="tab3" class="tab"> 
                <a href="#tab3">Ver viviendas</a>
                <div class="tab-content">
                    <h2>Ver viviendas</h2>
                    <button id="mostrar-viviendas-btn">Mostrar viviendas</button>
                    <div class="tabla-container">
                        <table id="tabla-viviendas">
                            <thead>
                                <tr>
                                    <th>Dirección</th>
                                    <th>Capacidad</th>
                                    <th>Pisos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Las viviendas se mostrarán aquí -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="tab2" class="tab">
                <a href="#tab2">Actualizar datos de vivienda</a>
                <div class="tab-content">
                    <h2>Actualizar datos de vivienda</h2>
                    <div class="div-form">
                        <form action="/actualizar_vivienda" method="post" class="form">
                            <div id="div-vivienda-id">
                                <label for="vivienda_id" class="label" id="label-vivienda-id">ID de la vivienda:</label>
                                <input class="input" type="text" name="vivienda_id" id="vivienda_id">
                            </div>
                            <div id="div-direccion">
                                <label for="direccion" class="label" id="label-direccion">Nueva dirección:</label>
                                <input class="input" type="text" name="direccion" id="direccion">
                            </div>
                            <div id="div-capacidad">
                                <label for="capacidad" class="label" id="label-capacidad">Nueva capacidad:</label>
                                <input type="number" class="input" name="capacidad" id="capacidad">
                            </div>
                            <div id="div-pisos">
                                <label for="pisos" class="label" id="label-pisos">Nuevo número de pisos:</label>
                                <input type="number" class="input" name="pisos" id="pisos">
                            </div>
                            <input id="input-submit" type="submit" value="Actualizar">
                        </form>
                    </div>
                </div>
            </div>
            <div id="tab1" class="tab">
                <a href="#tab1">Registrar nueva vivienda</a>
                <div class="tab-content">
                    <h2>Registro de vivienda</h2>
                    <div class="div-form">
                        <form action="/registrar_vivienda" method="post" class="form">
                            <div id="div-direccion">
                                <label for="direccion" class="label" id="label-direccion">Dirección</label>
                                <input class="input" type="text" name="direccion" id="direccion">
                            </div>
                            <div id="div-capacidad">
                                <label for="capacidad" class="label" id="label-capacidad">Capacidad</label>
                                <input type="number" class="input" name="capacidad" id="capacidad">
                            </div>
                            <div id="div-pisos">
                                <label for="pisos" class="label" id="label-pisos">Número de pisos</label>
                                <input type="number" class="input" name="pisos" id="pisos">
                            </div>
                            <input id="input-submit" type="submit" value="Enviar">
                        </form>
                    </div>
                </div> 
            </div> 
        </div>
    </div>   

    <!-- Enlace al archivo JavaScript -->
    <script src="{{ url_for('static', filename='js/viviendas.js') }}"></script>
</body>
</html>
